:root{
    --primary-color:#11493E ;
    
    
}

body {
    /* background: rgb(68, 184, 81);  */
    color: rgb(245, 241, 241);
}
/* Color  */
.primary-color{
    color: var(--primary-color);
}
.bg-primary-color{
    background: var(--primary-color);
}
.bg-primary-1{
    background:var(--primary-color);
    background: linear-gradient(104deg, rgba(17,73,62,1) 44%, rgba(177,177,177,1) 100%);
}
.bg-gradient { 
    background:var(--primary-color);
    background: linear-gradient(104deg, rgba(17,73,62,1) 44%, rgba(177,177,177,1) 100%);
  }
  .bg-primary-2{
    background:var(--primary-color);
    background: linear-gradient(104deg, rgba(17,73,62,1) 44%, rgba(177,177,177,1) 100%);
  }
.bg-purple-gradient{
    
}
.navbar {
    background:var(--primary-color);
}   
.navbar .nav-link {
   color:#fff!important;
}



#home-section {
   background:var(--primary-color);
    background: linear-gradient(104deg, rgba(17,73,62,1) 44%, rgba(177,177,177,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
    /* filter: brightness(50%); */
}
#service-area{
    background:var(--primary-color);
    background: linear-gradient(104deg,rgba(17,73,62,1) 44%, rgba(177,177,177,1) 100% );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
     /* filter: brightness(50%); */
}


#home-section .home-inner {
 padding-top: 150px;  
}
#home-section .fas {
    color: #f6f9fb;
    padding: 5px;
    border-radius: 5px;
}


#share-head-section .fas {
    --primary-color:#11493E;
    --secondary-color:#b1b1b1;
    --primary-rgb:: rgb(17,73,62);
}

#share-head-section .fas {
    background: #333;
    color: #b1b1b1;;
    padding: 5px;
    border-radius: 5px
}
.bg-green{
    background-color:var(--primary-color);
}
.bg-yellow{
    background-color: rgb(68, 184, 81);
}
.green{
    color: rgb(243, 244, 246);
}
.home-section{
    background-image: '../assets/img/hero.png';
}
#about h1{
    margin: 0 0 25px;
    padding:0px;
    font-size: 25px;
    line-height: 2;
    font-weight: 700;

}
#about p{
    margin:0 0 px;
    padding: 30px;
    font: normal 20px/1.5 Justus, Arial, Helvetica, sans-serif;
}
#Blog.html {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
    /* filter: brightness(50%); */
}
#danu {
    background:var(--primary-color);
    background: linear-gradient(104deg, rgba(17,73,62,1) 44%, rgba(177,177,177,1) 100%);
    font-size: 22px;
    color: rgb(243, 239, 239);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
#MAM p{
    font-size: 24px;
    color: #2a2a2a;
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
#team{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#purple{
    font-size: 30px;
    text-align: center;
    text-decoration: solid;
}
#siya{
    font-size: 16px;
}
#main-footer ul li{
padding-top: 15px;
list-style: none;
}
#accordion button{
    color:#11493E;
    font-size: 20px;
    font-weight: bold;
    forced-color:white;
}
.sweet-potato img{
    width: 300px;
    height: 190px;
}
.info-box{
    color: #000;
    box-shadow: 0 0 30px rgba(245, 234, 234, 0.753);
    padding-top: 15px;
}
.info-box  h1{
 font-weight: 700;
 color: #11493E;
}
.info-box h2{
    font-weight: 700;
    color: #11493E;
}
.info-box h3{
    font-weight: 700;
    color:#11493E;
}
.navbar{
    color: var(--primary-color);
}