:root{
    --primary-color:#11493E;
    --secondary-color:#b1b1b1;
    --primary-rgb:: rgb(17,73,62);
}

body {
    /* background: rgb(68, 184, 81);  */
    color: rgb(245, 241, 241);
}
/* Color  */
.primary-color{
    color: var(--primary-color);
}
.bg-primary-color{
    background: var(--primary-color);
}
.bg-primary-1{
    background:var(--primary-color);
    background: linear-gradient(104deg, rgba(17,73,62,1) 44%, rgba(177,177,177,1) 100%);
}
.bg-gradient { 
    background:var(--primary-color);
    background: linear-gradient(104deg, rgba(17,73,62,1) 44%, rgba(177,177,177,1) 100%);
  }
  .bg-primary-2{
    background:var(--primary-color);
    background: linear-gradient(104deg, rgba(17,73,62,1) 44%, rgba(177,177,177,1) 100%);
  }
.bg-purple-gradient{
    
}
.navbar {
    background:var(--primary-color);
    background: linear-gradient(104deg, rgba(17,73,62,1) 44%, rgba(177,177,177,1) 100%);
}   
.navbar .nav-link {
   color: #fff!important;
}



#home-section {
   background:var(--primary-color);
    background: linear-gradient(104deg, rgba(17,73,62,1) 44%, rgba(177,177,177,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
    /* filter: brightness(50%); */
}
#service-area{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}


#home-section .home-inner {
 padding-top: 150px;  
}
#home-section .fas {
    color: #f6f9fb;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/HM.jpg);
    padding: 5px;
    border-radius: 5px;
}


#share-head-section .fas {
    --primary-color:#11493E;
    --secondary-color:#b1b1b1;
    --primary-rgb:: rgb(17,73,62);
}

#share-head-section .fas {
    background: #333;
    color: #b1b1b1;;
    padding: 5px;
    border-radius: 5px
}
.bg-green{
    background-color:var(--primary-color);
}
.bg-yellow{
    background-color: rgb(68, 184, 81);
}
.green{
    color: rgb(243, 244, 246);
}
.home-section{
    background-image: '../assets/img/hero.png';
}
#about h1{
    margin: 0 0 25px;
    padding:0px;
    font-size: 25px;
    line-height: 2;
    font-weight: 700;

}
#about p{
    margin:0 0 px;
    padding: 30px;
    font: normal 20px/1.5 Justus, Arial, Helvetica, sans-serif;
}
#Blog.html {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
    /* filter: brightness(50%); */
}
#danu p{
    background:var(--primary-color);
    background: linear-gradient(104deg, rgba(17,73,62,1) 44%, rgba(177,177,177,1) 100%);
    font-size: 22px;
    color: rgb(2, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
#MAM p{
    font-size: 24px;
    color: #2a2a2a;
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
#team{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#purple{
    font-size: 30px;
}